html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  color: white;
  background: #0097a7 url("/img/background.svg") center/contain no-repeat fixed;
}

#divCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 5rem;
  height: 5rem;

  color: inherit;
  background-color: inherit;

  padding: 1rem;

  border: 0.25rem solid white;
  border-radius: 0.25rem;

  font-size: 1rem;
  text-transform: uppercase;
}

button:hover, #btnRe:hover {
  border-color: #ffc107;
}

button:focus {
  outline: none;
}

#divP {
  width: 200px;
  height: 200px;
}

p {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

button, p {
  user-select: none;
  cursor: default;
}

#btnGo:before,
#btnGo:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 0.0625rem solid rgba(255, 255, 255, 0.25);
}

#btnGo:before {
  transform: scale(10);
}

#btnGo:after {
  animation: ripple 5s ease-in-out infinite;
}

#btnRe {
  display: none;
  width: 125px;
  height: 125px;
  background-image: url('/img/restart.svg');
  border: 0.25rem solid white;
  border-radius: 50%;
  transition: transform 0.5s;
}

#btnRe:hover {
  transform: rotate(270deg);
}

@keyframes ripple {
  0% {
    transform: scale(10);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes colorchange {
  0% {
    background-color: #0097a7;
  }
  7% {
    background-color: #009688;
  }
  14% {
    background-color: #43a047;
  }
  21% {
    background-color: #689f38;
  }
  28% {
    background-color: #afb42b;
  }
  35% {
    background-color: #fbc02d;
  }
  42% {
    background-color: #ffa000;
  }
  49% {
    background-color: #ef6c00;
  }
  56% {
    background-color: #ff5722;
  }
  63% {
    background-color: #ef5350;
  }
  70% {
    background-color: #f06292;
  }
  77% {
    background-color: #ba68c8;
  }
  84% {
    background-color: #9575cd;
  }
  91% {
    background-color: #7986cb;
  }
  98% {
    background-color: #2196f3;
  }
  100% {
    background-color: #039be5;
  }
}

#countdown {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 445%;
  height: 445%;
  transform: translate(-50%, -50%);
  z-index: -1000;
}

.activated #countdown {
  display: inherit;
}

#halfclip {
  width: 50%;
  height: 100%;
  right: 0;
  position: absolute;
  overflow: hidden;
  transform-origin: left center;

}

.halfcircle {
  box-sizing: border-box;
  height: 100%;
  right: 0;
  position: absolute;
  border: solid 10px rgba(255, 255, 255, 0.25);
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  z-index: -1;
}

#clipped {
  width: 200%;
}

#fixed {
  width: 100%;
  transform: rotate(135deg);
}

@keyframes cliprotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes showfixed {
  0% {
    opacity: 1;
  }
  49.999% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
